.env
.DS_Store
node_modules
.enhance
public/static.json
models/static.json
public/bundles
sam.json
sam.yaml
public/styles.css
models/enhance-styles
src/http/any-catchall/package-lock.json
src/http/get-_public-catchall/package-lock.json
